* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

.clear-flex {
  flex: none;
}

.fc-header {
  height: 300px;
  display: flex;
}

.fc-header .left {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #ccd4de;
}
.fc-header .right {
  display: table;
  overflow: hidden;
  width: 100%;
  background-color: #333f50;
  color: white;
}
.fc-header .right .content {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.fc-header h1 {
  font-size: 6.5em;
  margin: 0;
  padding: 0;
  font-weight: 800;
}
.fc-header h3 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
.single-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-inner {
  width: 70%;
  margin: 15px;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  border-left: 2px solid #333f50;
  border-right: 2px solid #333f50;
}
